<div class="container">
	
<div class="row">
	
	<div class="col-xs-12">
		
		<h2><%= @org["name"] %></h2>

					
	</div>

</div>

<div class="row">
	
	<div class="col-xs-12">
		
		<h1>We'll call you</h1>
		<p>A representative from this organization will call you at the number you provide within one (1) business week.</p>
		<button class="btn-primary">Call Me Back</button>

	</div>

</div>

<div class="row">
	
	<div class="col-xs-12">

					<%= @org["name"] %>

	</div>

</div>

</div>

