<!DOCTYPE html>
<html>
<head>
  <title>Estrella</title>
  <link href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,900,300&subset=latin,cyrillic-ext,greek-ext,vietnamese,greek,latin-ext,cyrillic' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<h1> Hello from Startup Weekend!</h1>

<%= yield %>

</body>
</html>
